

.recipe{
    background-color: #ffffff;
    height: 300px;
    width: 300px;
    margin: 200px auto 0;
    position: relative;
    border-radius: 12px;
    transition: all 1s;
    border:2px solid red;

}
.recipe:hover{
    height: 350px;
}

.img{
    height: 250px;
    width: 250px;
    position: absolute;
     left: 25px; 
    top: -30px;
    border-radius: 12px;
    z-index: 500;
    transition: all 1s;



}
.recipe:hover .img{
    top: -100px;
    border-radius: 50%;
}






.container{
    position: absolute;
    bottom: 0;
    padding: 25px;
    
 
  
  }

   .container > h3{
      text-align: center;
  }

  .container div {
      opacity: 0;
      transition: all 3s;
     

  }
  .recipe:hover .container h4 {
    
opacity: 1;
  

  }
  .recipe:hover .container div {
    
    opacity: 1;
      
    
      } 
   .container h5{
       color: red;
   }
  

   .fas{
       
       
       font-size:25px;
   }

   .recipe button{
       border:none;
       position: absolute;
       right: 15px;
       bottom: 8px;
      
   }
   
  .activeToggle{
      color: red ;
      font-size: 25px;
  }
  