nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background:linear-gradient(45deg, rgb(156,14,156),midnightblue);
}
.liste {
    list-style-type: none;
   
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   width: 100%;
}
.items{
    margin-right: 10px;
    color:#f1f1f1;
    cursor: pointer;

}
.btn{
    display: none;
}

@media screen and (max-width:500px) {
    .liste {
        flex-direction: column;
        height:200px;
        
    }
    .items:nth-child(1){
        border-top: 1px solid #fff;
        margin-top: 50px;
       
    }

    .items{
        height: 50px;
       
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;  /*  quand on donne la meme valeur pour heignt et lineheight le text va se centrer */
        
    }
    .btn{
        display: block;
        position:absolute;
        right:10px;
        top: 10px;
        color: #333;
        cursor: pointer;
        
    }
}